<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterBarStyles"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerBarStyles"></div>
        </div>
        <section class="container" v-if="winner">
          <h2>Game Over !</h2>
          <h3 v-if="winner === 'Player'">You WON!</h3>
          <h3 v-if="winner === 'Monster'">You LOST!</h3>
          <h3 v-if="winner === 'DRAW' ">It´s a DRAW!</h3>
          <h3>TESTO S HASH KEY</h3>
          <button @click="restartGame">START NEW GAME</button>
        </section>
      </section>
      <section id="controls" v-if="!winner">
        <button @click="atackMonster">ATTACK</button>
        <button :disabled="currentRound %3" @click="specialAttack">
          SPECIAL ATTACK
        </button>
        <button @click="heal">HEAL</button>
        <button @click="surrenderGame">SURRENDER</button>
        <button></button>
      </section>
      <section id="log" class="container">
        <h2>Log</h2>
        <h2>Log2 test</h2>
        <h3>d</h3>
        <h3>TESTOVACI TAG</h3>
        <h3>TESTOVACI TAG</h3>
        <h3>TEST DALSI</h3>
        <ul>
          <li v-for="logMessage in logMessages">
            <span
              :class="{'log--player': logMessage.actionBy === 'player', 'log--monster': logMessage.actionBy === 'monster'}"
              >{{ logMessage.actionBy === 'player' ? 'Player' : 'Monster'
              }}</span
            >
            <span v-if="logMessage.actionType === 'heal'">
              heals himself for
              <span class="log--heal">{{ logMessage.actionValue }}</span></span
            >
            <span v-else>
              attacks and deals
              <span class="log--damage">{{ logMessage.actionValue }}</span>
            </span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
